<% if @model == "User"%>
  <h2>Users search for "<%= @content %>"</h2>
  <%= render "users/index", users: @results %>
<% else %>
  <h2>Books search for "<%= @content %>"</h2>
  <%= render "books/index", books: @results %>
<% end %>
